{{template "layouts/dashboard.html" .}}

{{define "content"}}
<div class="px-16">
    <div class="flex justify-between items-center">
        <h3 class="font-extrabold">Flags</h3>
        <button class="btn btn-accent mb-4 flex justify-start" hx-get="/workspaces/{{.WorkspaceID }}/flags/new"
            hx-target="#new-workspace-modal-form-container">
            Create new flags
        </button>
    </div>

    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
        {{ if gt (len .Workspace.Flags) 0 }}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Workspace.Flags }}
                <tr>
                    <td>{{ .Name }}</td>
                    <td>{{ .Type }}</td>
                    <td>{{ .CreatedAt }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        {{ end }}
    </div>
    <h3 class="font-extrabold mt-24">Environments</h3>
    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
        {{ if gt (len .Workspace.Environments ) 0 }}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Workspace.Environments }}
                <tr>
                    <td>{{ .Name }}</td>
                    <td>{{ .CreatedAt }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        {{ end }}
    </div>
    <h3 class="font-extrabold mt-24">Members</h3>
    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
        {{ if gt (len .Workspace.Members ) 0 }}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Workspace.Members }}
                <tr>
                    <td>{{ .User.FirstName }}</td>
                    <td>{{ .Role }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        {{ end }}
    </div>

</div>
<dialog id="new-flags-modal" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle absolute right-2 top-2 btn-accent">Esc</button>
        </form>
        <h3 class="text-lg font-bold ml-6 mb-6">Create new flag</h3>
        <div id="new-workspace-modal-form-container"></div>
    </div>
</dialog>
<div id="toast-container" hx-swap-oob="afterbegin">
</div>
<script>
    document.body.addEventListener("open-new-flag-modal", function (evt) {
        const modal = document.getElementById('new-flags-modal');
        modal.showModal();
    });
    document.body.addEventListener("close-new-flag-modal", function (evt) {
        const modal = document.getElementById('new-flags-modal');
        modal.close();
    });
</script>
{{end}}