{{template "layouts/auth.html" .}}

{{define "content"}}
<form action="/login" method="post">
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
        <legend class="fieldset-legend">Login</legend>
        {{ if index . "ErrorMsg" }}
        <div role="alert" class="alert alert-error mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none"
                viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>{{ .ErrorMsg }}</span>
        </div>
        {{ end }}
        <input name="email" type="email" class='input {{ if index .Errors "email" }}input-error{{ end }}'
            placeholder="Email" />
        {{ if index .Errors "email" }}
        <label for="email" class="label">
            <span class="label-text-alt text-error">{{ index .Errors "email" }}</span>
        </label>
        {{ end }}
        <input name="password" type="password" class='input {{ if index .Errors "email" }}input-error{{ end }}'
            placeholder="Password" />
        {{ if index .Errors "password" }}
        <label class="label">
            <span class="label-text-alt text-error">{{ index .Errors "password" }}</span>
        </label>
        {{ end }}
        <button type="submit" class="btn btn-neutral mt-4">Login</button>
    </fieldset>
</form>
{{end}}